**/*.log
**/*.php~
**/*.cache
**/._*
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Dockerfile.*
**/Thumbs.db
.github/
.idea/
docs/
tests/
var/
vendor/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
.env.local.example
CLAUDE.md
DEPLOYMENT.md
