<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<config name="installed_paths" value="../../slevomat/coding-standard"/>
    <ini name="memory_limit" value="256M"/>
    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12"/>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="ignoreComments" value="true"/>
        </properties>
    </rule>
    <rule ref="./vendor/escapestudios/symfony2-coding-standard">
        <!-- E: missing doc block -->
        <exclude name="Symfony.Commenting.License.Warning"/>
        <exclude name="Symfony.Commenting.FunctionComment.MissingParamComment"/>
        <exclude name="Symfony.Commenting.FunctionComment.Missing"/>
        <exclude name="Symfony.Commenting.Annotations.Invalid"/>
        <exclude name="Symfony.Commenting.ClassComment.Missing"/>
        <exclude name="Symfony.Commenting.ClassComment.Blacklisted"/>
        <exclude name="Symfony.Commenting.FunctionComment.MissingReturn"/>
        <exclude name="Symfony.Commenting.FunctionComment.MissingParamTag"/>
        <exclude name="Symfony.Commenting.FunctionComment.SpacingBeforeTags"/>
        <exclude name="Symfony.Commenting.FunctionComment.SpacingAfterParamType"/>
        <exclude name="Symfony.Commenting.ClassComment.SpacingBeforeTags"/>
        <!-- E: Declare all the arguments on the same line as the method/function name, no matter how many there are -->
        <exclude name="Symfony.Functions.Arguments.Invalid"/>
    </rule>

    <!-- SLEVOMAT CODING STANDARD -->
    <!-- @see https://github.com/slevomat/coding-standard/blob/master/README.md -->
        <rule ref="SlevomatCodingStandard.TypeHints.UselessConstantTypeHint"/>
        <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint"/>
        <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
            <properties>
                <property name="spacesCountAroundEqualsSign" value="0"/>
            </properties>
        </rule>
        <rule ref="SlevomatCodingStandard.Arrays.DisallowImplicitArrayCreation"/>
        <rule ref="SlevomatCodingStandard.Classes.UselessLateStaticBinding"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.DisallowContinueWithoutIntegerOperandInSwitch"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.RequireNullCoalesceOperator"/>
        <rule ref="SlevomatCodingStandard.Functions.StaticClosure"/>
        <rule ref="SlevomatCodingStandard.Operators.RequireCombinedAssignmentOperator"/>
        <rule ref="SlevomatCodingStandard.Functions.UnusedInheritedVariablePassedToClosure"/>
        <rule ref="SlevomatCodingStandard.Functions.UselessParameterDefaultValue"/>
        <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
            <properties>
                <property name="searchAnnotations" value="true"/>
            </properties>
        </rule>
        <!-- <rule ref="SlevomatCodingStandard.Namespaces.UseFromSameNamespace"/> -->
        <rule ref="SlevomatCodingStandard.Namespaces.UselessAlias"/>
        <rule ref="SlevomatCodingStandard.PHP.UselessParentheses">
            <properties>
                <property name="ignoreComplexTernaryConditions" value="true"/>
            </properties>
        </rule>
        <rule ref="SlevomatCodingStandard.PHP.OptimizedFunctionsWithoutUnpacking"/>
        <rule ref="SlevomatCodingStandard.PHP.UselessSemicolon"/>
        <rule ref="SlevomatCodingStandard.Variables.DuplicateAssignmentToVariable"/>
        <rule ref="SlevomatCodingStandard.Variables.UnusedVariable">
            <properties>
                <property name="ignoreUnusedValuesWhenOnlyKeysAreUsedInForeach" value="true"/>
            </properties>
        </rule>
        <rule ref="SlevomatCodingStandard.Variables.UselessVariable"/>
        <rule ref="SlevomatCodingStandard.Exceptions.DeadCatch"/>
        <rule ref="SlevomatCodingStandard.Classes.ModernClassNameReference"/>
        <rule ref="SlevomatCodingStandard.Classes.TraitUseDeclaration"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.LanguageConstructWithParentheses"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.NewWithParentheses"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.RequireShortTernaryOperator"/>
        <rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses"/>
        <rule ref="SlevomatCodingStandard.Namespaces.RequireOneNamespaceInFile"/>
        <rule ref="SlevomatCodingStandard.Namespaces.NamespaceDeclaration"/>
        <rule ref="SlevomatCodingStandard.Namespaces.NamespaceSpacing"/>
        <rule ref="SlevomatCodingStandard.Namespaces.UseSpacing"/>
        <rule ref="SlevomatCodingStandard.Operators.SpreadOperatorSpacing"/>
        <rule ref="SlevomatCodingStandard.TypeHints.LongTypeHints"/>
        <rule ref="SlevomatCodingStandard.TypeHints.NullTypeHintOnLastPosition"/>
        <rule ref="SlevomatCodingStandard.PHP.ShortList"/>
        <rule ref="SlevomatCodingStandard.PHP.TypeCast"/>
        <rule ref="SlevomatCodingStandard.Classes.ClassConstantVisibility">
            <properties>
                <property name="fixable" value="true"/>
            </properties>
        </rule>
        <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHintSpacing"/>
        <rule ref="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue"/>
        <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHintSpacing"/>
        <rule ref="SlevomatCodingStandard.Namespaces.DisallowGroupUse"/>
        <rule ref="SlevomatCodingStandard.Namespaces.MultipleUsesPerLine"/>
        <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly"/>
        <rule ref="SlevomatCodingStandard.Namespaces.UseDoesNotStartWithBackslash"/>
        <rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
            <properties>
                <property name="forbiddenAnnotations" type="array">
                    <element value="@author"/>
                    <element value="@created"/>
                    <element value="@version"/>
                    <element value="@copyright"/>
                    <element value="@license"/>
                    <element value="@package"/>
                </property>
            </properties>
        </rule>
        <rule ref="SlevomatCodingStandard.Commenting.ForbiddenComments">
            <properties>
                <property name="forbiddenCommentPatterns" type="array">
                    <element value="/^.+ constructor\.?$/"/>
                    <element value="/^(Type|Class|Interface|Trait) .*$/"/>
                </property>
            </properties>
        </rule>
        <rule ref="SlevomatCodingStandard.Commenting.DocCommentSpacing"/>
        <rule ref="SlevomatCodingStandard.Commenting.EmptyComment"/>
        <rule ref="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration"/>
        <rule ref="SlevomatCodingStandard.Commenting.DisallowOneLinePropertyDocComment"/>
        <rule ref="SlevomatCodingStandard.Commenting.UselessInheritDocComment"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.UselessIfConditionWithReturn"/>
        <rule ref="SlevomatCodingStandard.ControlStructures.UselessTernaryOperator"/>

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>

</ruleset>
